In [8]:
import pandas as pd
import numpy as np

import requests

from datetime import datetime, timedelta
from pprint import pprint

In [9]:
lang = input('¿En español (es) o en ingles (en)?')
restaDia = float(input('¿Cuantos días atrás?:____________'))
input_año = int(input('¿Qué año?:_____________'))


headers = {
    "Accept": "application/json",
    "Content-Type": "application/json",
    "Host": "apidatos.ree.es"
}

# OBTENCIÓN DE DATOS DE BALANCE

In [10]:

def balance_datos(lang):

    now = datetime.now()
    ultima_fecha = (now - timedelta(days = restaDia)).replace(year = input_año).strftime('%Y-%m-%d')


    hoy = now.replace(year = input_año).strftime('%Y-%m-%d')

    query = f"start_date={ultima_fecha}T00:00&end_date={hoy}T23:59&time_trunc=day"



    endpoint = f"https://apidatos.ree.es/{lang}/datos/balance/balance-electrico?{query}"
    response = requests.get(url = endpoint, headers = headers)
    data = response.json()



    lista_nombres = list()
    lista_tipos = list()
    lista_valores = list()
    lista_porcentajes = list()
    lista_fechas = list()
    lista_dias = list()
    lista_meses = list()
    lista_años = list()


    for dato in data['included']: 
        for info in dato['attributes']['content']:
            nombre = info['type']

            tipo = info['groupId']


            for i in info['attributes']['values']:
                valor = i['value']

                porcentaje = i['percentage']

                fecha = i['datetime']
                fecha = pd.to_datetime(fecha)
                dia = fecha.strftime('%d')
                mes = fecha.strftime('%m')
                año = fecha.strftime('%Y')

                fecha = fecha.strftime("%d/%m/%Y")

        
            
            
                lista_nombres.append(nombre)
                lista_tipos.append(tipo)
                lista_valores.append(valor)
                lista_porcentajes.append(porcentaje)
                lista_fechas.append(fecha)
                lista_dias.append(dia)
                lista_meses.append(mes)
                lista_años.append(año)

    df_balance = pd.DataFrame()
    df_balance['nombre']               = lista_nombres
    df_balance['tipo de energía']      = lista_tipos
    df_balance['Valores']              = lista_valores
    df_balance["Porcentaje"]           = lista_porcentajes
    df_balance["Fecha actualización"]  = lista_fechas
               




    return df_balance

df_balance  = balance_datos(lang)

df_balance

,nombre,tipo de energía,Valores,Porcentaje,Fecha actualización
0,Hidráulica,Renovable,26380.041,0.099019,09/09/2023
1,Hidráulica,Renovable,22677.543,0.093478,10/09/2023
2,Hidráulica,Renovable,34410.083,0.147208,11/09/2023
3,Hidráulica,Renovable,36184.276,0.147087,12/09/2023
4,Hidráulica,Renovable,27251.012,0.088754,13/09/2023
...,...,...,...,...,...
647,Demanda en b.c.,Demanda en b.c.,692563.445,1.000000,05/10/2023
648,Demanda en b.c.,Demanda en b.c.,694175.069,1.000000,06/10/2023
649,Demanda en b.c.,Demanda en b.c.,614030.957,1.000000,07/10/2023
650,Demanda en b.c.,Demanda en b.c.,568059.691,1.000000,08/10/2023
651,Demanda en b.c.,Demanda en b.c.,657435.969,1.000000,09/10/2023

# OBTENCIÓN DE DATOS DE DEMANDA

In [11]:

def demanda_datos(lang):
     
    now = datetime.now()
    ultima_fecha = (now - timedelta(days = restaDia)).replace(year = input_año).strftime('%Y-%m-%d')


    hoy = now.replace(year = input_año).strftime('%Y-%m-%d')

    query = f"start_date={ultima_fecha}T00:00&end_date={hoy}T23:59&time_trunc=day"

    endpoint = f"https://apidatos.ree.es/{lang}/datos/demanda/evolucion?{query}"
    response = requests.get(url = endpoint, headers = headers)
    data = response.json()

    datetime_lista = list()
    value_lista = list()
    percentage_lista = list()



    for value in data['included']:
        for content in value['attributes']['values']:
                
                porcentaje = content['percentage']
                valor = content['value']
                
                fecha = content ['datetime']
                fecha = pd.to_datetime(fecha)
                fecha = fecha.strftime("%d/%m/%Y")

                datetime_lista.append(fecha)
                value_lista.append(valor)
                percentage_lista.append(porcentaje)


    df_demanda = pd.DataFrame()
    df_demanda['Fecha actualización'] = datetime_lista
    df_demanda['Energía_consumida'] = value_lista

    return df_demanda

df_demanda = demanda_datos(lang)

df_demanda

   Fecha actualización  Energía_consumida
0           09/09/2023         618713.347
1           10/09/2023         577435.263
2           11/09/2023         666103.460
3           12/09/2023         700279.064
4           13/09/2023         700469.687
5           14/09/2023         707868.110
6           15/09/2023         699570.510
7           16/09/2023         605057.255
8           17/09/2023         568331.891
9           18/09/2023         660518.846
10          19/09/2023         677596.790
11          20/09/2023         674288.988
12          21/09/2023         675607.185
13          22/09/2023         651037.118
14          23/09/2023         571090.314
15          24/09/2023         535176.203
16          25/09/2023         638936.275
17          26/09/2023         667820.961
18          27/09/2023         678651.429
19          28/09/2023         681873.067
20          29/09/2023         676528.629
21          30/09/2023         601973.622
22          01/10/2023         564525.295
23          02/10/2023         671705.365
24          03/10/2023         688577.261
25          04/10/2023         692283.956
26          05/10/2023         692563.445
27          06/10/2023         694175.069
28          07/10/2023         614030.957
29          08/10/2023         568059.691
30          09/10/2023         657435.969

# OBTENCIÓN DE DATOS DE GENERACIÓN

In [12]:

def generacion_datos(lang):

    now = datetime.now()
    ultima_fecha = (now - timedelta(days = restaDia)).replace(year = input_año).strftime('%Y-%m-%d')
    
    hoy = now.replace(year = input_año).strftime('%Y-%m-%d')
    
    query = f'start_date={ultima_fecha}T00:00&end_date={hoy}T23:59&time_trunc=day'


    endpoint = f"https://apidatos.ree.es/{lang}/datos/generacion/estructura-generacion?{query}"
    response = requests.get(url= endpoint, headers= headers)
    data = response.json()

    lista_nombres = list()
    lista_tipos = list()
    lista_valores = list()
    lista_porcentajes = list()
    lista_fechas = list()
    



    for dato in data['included']:
        nombre = dato['attributes']['title']
        tipo = dato['attributes']['type']


        for i in dato['attributes']['values']:
            valor = i['value']

            porcentaje = i['percentage']

            fecha = i['datetime']
            fecha = pd.to_datetime(fecha)
            

            fecha =  fecha.strftime("%d/%m/%Y")

            lista_nombres.append(nombre)
            lista_tipos.append(tipo)
            lista_valores.append(valor)
            lista_porcentajes.append(porcentaje)
            lista_fechas.append(fecha)
            

    df_generacion = pd.DataFrame()
    df_generacion['nombre']               = lista_nombres
    df_generacion['tipo de energía']      = lista_tipos
    df_generacion['Valores']              = lista_valores
    df_generacion["Porcentaje"]           = lista_porcentajes
    df_generacion["Fecha actualización"]  = lista_fechas
   


    return df_generacion
    
df_generacion = generacion_datos(lang)

df_generacion

,nombre,tipo de energía,Valores,Porcentaje,Fecha actualización
0,Hidráulica,Renovable,26380.041,0.040238,09/09/2023
1,Hidráulica,Renovable,22677.543,0.035054,10/09/2023
2,Hidráulica,Renovable,34410.083,0.049715,11/09/2023
3,Hidráulica,Renovable,36184.276,0.049279,12/09/2023
4,Hidráulica,Renovable,27251.012,0.035826,13/09/2023
...,...,...,...,...,...
523,Generación total,Generación total,708544.054,1.000000,05/10/2023
524,Generación total,Generación total,693036.125,1.000000,06/10/2023
525,Generación total,Generación total,613026.822,1.000000,07/10/2023
526,Generación total,Generación total,590619.569,1.000000,08/10/2023
527,Generación total,Generación total,663310.372,1.000000,09/10/2023

# OBTENCIÓN DE DATOS DE INTERCAMBIO

In [13]:

def intercambio_datos(lang):
    now = datetime.now()
    ultima_fecha = (now - timedelta(days = restaDia)).replace(year = input_año).strftime('%Y-%m-%d')
    hoy = now.replace(year = input_año).strftime('%Y-%m-%d')

    query = f"start_date={ultima_fecha}T00:00&end_date={hoy}T23:59&time_trunc=day"


    endpoint = f"https://apidatos.ree.es/{lang}/datos/intercambios/todas-fronteras-programados?{query}"
    response = requests.get(url = endpoint, headers = headers)
    data = response.json()


    lista_nombres = list()
    lista_tipos = list()
    lista_valores = list()
    lista_porcentajes = list()
    lista_fechas = list()
   


    for dato in data['included']: 
        for info in dato['attributes']['content']:
            tipo = info['type']

            nombre = info['groupId']


            for i in info['attributes']['values']:
                valor = i['value']

                porcentaje = i['percentage']

                fecha = i['datetime']
                fecha = pd.to_datetime(fecha)
                

                fecha =  fecha.strftime("%d/%m/%Y")

                
                lista_nombres.append(nombre)
                lista_tipos.append(tipo)
                lista_valores.append(valor)
                lista_porcentajes.append(porcentaje)
                lista_fechas.append(fecha)
               


    df_intercambio = pd.DataFrame()
    df_intercambio['nombre']               = lista_nombres
    df_intercambio['tipo de intercambio']      = lista_tipos
    df_intercambio['Valores']              = lista_valores
    df_intercambio["Porcentaje"]           = lista_porcentajes
    df_intercambio["Fecha actualización"]  = lista_fechas
             


    return df_intercambio 

df_intercambio = intercambio_datos(lang)

df_intercambio

      nombre tipo de intercambio    Valores  Porcentaje Fecha actualización
0    Francia         Exportación -15923.134    0.243451          09/09/2023
1    Francia         Exportación -21133.600    0.315685          10/09/2023
2    Francia         Exportación -11122.500    0.202408          11/09/2023
3    Francia         Exportación -18856.900    0.299353          12/09/2023
4    Francia         Exportación -17628.500    0.367195          13/09/2023
..       ...                 ...        ...         ...                 ...
324  Andorra               saldo   -410.000    1.000000          05/10/2023
325  Andorra               saldo   -437.000    1.000000          06/10/2023
326  Andorra               saldo   -399.000    1.000000          07/10/2023
327  Andorra               saldo   -384.000    1.000000          08/10/2023
328  Andorra               saldo   -439.000    1.000000          09/10/2023

[329 rows x 5 columns]