In [22]:
import requests
from datetime import datetime, timedelta
import pandas as pd

In [26]:
lang = "es"
category = "demanda"
widget  = "evolucion"
query = "start_date=2023-01-01T00:00&end_date=2023-01-31T23:59&time_trunc=day"

In [27]:
headers = {
    "Accept": "application/json",
    "Content_Type": "application/json",
    "Host": "apidatos.ree.es"
}

In [28]:
endpoint = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"
reponse = requests.get(url = endpoint, headers= headers)
data = reponse.json()
data

{'data': {'type': 'Evolución de la demanda',
  'id': 'dem1',
  'attributes': {'title': 'Evolución de la demanda',
   'last-update': '2024-05-27T14:20:05.000+02:00',
   'description': None},
  'meta': {'cache-control': {'cache': 'HIT',
    'expireAt': '2024-10-25T10:46:17'}}},
 'included': [{'type': 'Demanda',
   'id': '10297',
   'groupId': None,
   'attributes': {'title': 'Demanda',
    'description': None,
    'color': '#ffea00',
    'type': None,
    'magnitude': None,
    'composite': False,
    'last-update': '2024-05-27T14:20:05.000+02:00',
    'values': [{'value': 501833.701,
      'percentage': 1,
      'datetime': '2023-01-01T00:00:00.000+01:00'},
     {'value': 617718.194,
      'percentage': 1,
      'datetime': '2023-01-02T00:00:00.000+01:00'},
     {'value': 672722.853,
      'percentage': 1,
      'datetime': '2023-01-03T00:00:00.000+01:00'},
     {'value': 684806.731,
      'percentage': 1,
      'datetime': '2023-01-04T00:00:00.000+01:00'},
     {'value': 667109.305,
      'percentage': 1,
      'datetime': '2023-01-05T00:00:00.000+01:00'},
     {'value': 575311.204,
      'percentage': 1,
      'datetime': '2023-01-06T00:00:00.000+01:00'},
     {'value': 620535.693,
      'percentage': 1,
      'datetime': '2023-01-07T00:00:00.000+01:00'},
     {'value': 608145.575,
      'percentage': 1,
      'datetime': '2023-01-08T00:00:00.000+01:00'},
     {'value': 697063.435,
      'percentage': 1,
      'datetime': '2023-01-09T00:00:00.000+01:00'},
     {'value': 726472.416,
      'percentage': 1,
      'datetime': '2023-01-10T00:00:00.000+01:00'},
     {'value': 734639.472,
      'percentage': 1,
      'datetime': '2023-01-11T00:00:00.000+01:00'},
     {'value': 738345.461,
      'percentage': 1,
      'datetime': '2023-01-12T00:00:00.000+01:00'},
     {'value': 733478.186,
      'percentage': 1,
      'datetime': '2023-01-13T00:00:00.000+01:00'},
     {'value': 657961.407,
      'percentage': 1,
      'datetime': '2023-01-14T00:00:00.000+01:00'},
     {'value': 611148.341,
      'percentage': 1,
      'datetime': '2023-01-15T00:00:00.000+01:00'},
     {'value': 750249.738,
      'percentage': 1,
      'datetime': '2023-01-16T00:00:00.000+01:00'},
     {'value': 753955.969,
      'percentage': 1,
      'datetime': '2023-01-17T00:00:00.000+01:00'},
     {'value': 775893.775,
      'percentage': 1,
      'datetime': '2023-01-18T00:00:00.000+01:00'},
     {'value': 785127.303,
      'percentage': 1,
      'datetime': '2023-01-19T00:00:00.000+01:00'},
     {'value': 753339.2,
      'percentage': 1,
      'datetime': '2023-01-20T00:00:00.000+01:00'},
     {'value': 672429.444,
      'percentage': 1,
      'datetime': '2023-01-21T00:00:00.000+01:00'},
     {'value': 644921.153,
      'percentage': 1,
      'datetime': '2023-01-22T00:00:00.000+01:00'},
     {'value': 781546.18,
      'percentage': 1,
      'datetime': '2023-01-23T00:00:00.000+01:00'},
     {'value': 821055.295,
      'percentage': 1,
      'datetime': '2023-01-24T00:00:00.000+01:00'},
     {'value': 810969.945,
      'percentage': 1,
      'datetime': '2023-01-25T00:00:00.000+01:00'},
     {'value': 812716.023,
      'percentage': 1,
      'datetime': '2023-01-26T00:00:00.000+01:00'},
     {'value': 801794.112,
      'percentage': 1,
      'datetime': '2023-01-27T00:00:00.000+01:00'},
     {'value': 714180.153,
      'percentage': 1,
      'datetime': '2023-01-28T00:00:00.000+01:00'},
     {'value': 671427.042,
      'percentage': 1,
      'datetime': '2023-01-29T00:00:00.000+01:00'},
     {'value': 790823.822,
      'percentage': 1,
      'datetime': '2023-01-30T00:00:00.000+01:00'},
     {'value': 798927.897,
      'percentage': 1,
      'datetime': '2023-01-31T00:00:00.000+01:00'}]}}]}

In [25]:
def demanda_datos(url):

    response = requests.get(url)

    json_data = response.json()

    values = json_data['included'][0]['attributes']['values']

    df = pd.DataFrame(values)

    df['datetime'] = pd.to_datetime(df['datetime'])

    return df

url = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"

df = demanda_datos(url)

df

         value  percentage                  datetime
0   501833.701           1 2023-01-01 00:00:00+01:00
1   617718.194           1 2023-01-02 00:00:00+01:00
2   672722.853           1 2023-01-03 00:00:00+01:00
3   684806.731           1 2023-01-04 00:00:00+01:00
4   667109.305           1 2023-01-05 00:00:00+01:00
5   575311.204           1 2023-01-06 00:00:00+01:00
6   620535.693           1 2023-01-07 00:00:00+01:00
7   608145.575           1 2023-01-08 00:00:00+01:00
8   697063.435           1 2023-01-09 00:00:00+01:00
9   726472.416           1 2023-01-10 00:00:00+01:00
10  734639.472           1 2023-01-11 00:00:00+01:00
11  738345.461           1 2023-01-12 00:00:00+01:00
12  733478.186           1 2023-01-13 00:00:00+01:00
13  657961.407           1 2023-01-14 00:00:00+01:00
14  611148.341           1 2023-01-15 00:00:00+01:00
15  750249.738           1 2023-01-16 00:00:00+01:00
16  753955.969           1 2023-01-17 00:00:00+01:00
17  775893.775           1 2023-01-18 00:00:00+01:00
18  785127.303           1 2023-01-19 00:00:00+01:00
19  753339.200           1 2023-01-20 00:00:00+01:00
20  672429.444           1 2023-01-21 00:00:00+01:00
21  644921.153           1 2023-01-22 00:00:00+01:00
22  781546.180           1 2023-01-23 00:00:00+01:00
23  821055.295           1 2023-01-24 00:00:00+01:00
24  810969.945           1 2023-01-25 00:00:00+01:00
25  812716.023           1 2023-01-26 00:00:00+01:00
26  801794.112           1 2023-01-27 00:00:00+01:00
27  714180.153           1 2023-01-28 00:00:00+01:00
28  671427.042           1 2023-01-29 00:00:00+01:00
29  790823.822           1 2023-01-30 00:00:00+01:00
30  798927.897           1 2023-01-31 00:00:00+01:00