In [2]:
import requests
from datetime import datetime, timedelta
import pandas as pd

In [5]:
lang = "es"
category = "demanda"
widget  = "ire-general"
query = "start_date=2024-01-01T00:00&end_date=2024-01-31T23:59&time_trunc=day"

In [6]:
headers = {
    "Accept": "application/json",
    "Content_Type": "application/json",
    "Host": "apidatos.ree.es"
}

In [7]:
endpoint = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"
reponse = requests.get(url = endpoint, headers= headers)
data = reponse.json()
data

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [25]:
def demanda_datos(url):

    response = requests.get(url)

    json_data = response.json()

    values = json_data['included'][0]['attributes']['values']

    df = pd.DataFrame(values)

    df['datetime'] = pd.to_datetime(df['datetime'])

    return df

url = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"

df = demanda_datos(url)

df

         value  percentage                  datetime
0   501833.701           1 2023-01-01 00:00:00+01:00
1   617718.194           1 2023-01-02 00:00:00+01:00
2   672722.853           1 2023-01-03 00:00:00+01:00
3   684806.731           1 2023-01-04 00:00:00+01:00
4   667109.305           1 2023-01-05 00:00:00+01:00
5   575311.204           1 2023-01-06 00:00:00+01:00
6   620535.693           1 2023-01-07 00:00:00+01:00
7   608145.575           1 2023-01-08 00:00:00+01:00
8   697063.435           1 2023-01-09 00:00:00+01:00
9   726472.416           1 2023-01-10 00:00:00+01:00
10  734639.472           1 2023-01-11 00:00:00+01:00
11  738345.461           1 2023-01-12 00:00:00+01:00
12  733478.186           1 2023-01-13 00:00:00+01:00
13  657961.407           1 2023-01-14 00:00:00+01:00
14  611148.341           1 2023-01-15 00:00:00+01:00
15  750249.738           1 2023-01-16 00:00:00+01:00
16  753955.969           1 2023-01-17 00:00:00+01:00
17  775893.775           1 2023-01-18 00:00:00+01:00
18  785127.303           1 2023-01-19 00:00:00+01:00
19  753339.200           1 2023-01-20 00:00:00+01:00
20  672429.444           1 2023-01-21 00:00:00+01:00
21  644921.153           1 2023-01-22 00:00:00+01:00
22  781546.180           1 2023-01-23 00:00:00+01:00
23  821055.295           1 2023-01-24 00:00:00+01:00
24  810969.945           1 2023-01-25 00:00:00+01:00
25  812716.023           1 2023-01-26 00:00:00+01:00
26  801794.112           1 2023-01-27 00:00:00+01:00
27  714180.153           1 2023-01-28 00:00:00+01:00
28  671427.042           1 2023-01-29 00:00:00+01:00
29  790823.822           1 2023-01-30 00:00:00+01:00
30  798927.897           1 2023-01-31 00:00:00+01:00