In [1]:
import requests

import pandas as pd

from datetime import datetime

from pprint import pprint

In [6]:
lang = "es"
category = "demanda"
widget  = "evolucion"
query = "start_date=2023-01-01T00:00&end_date=2023-01-31T23:59&time_trunc=day"

In [7]:
headers = {
    "Accept": "application/json",
    "Content_Type": "application/json",
    "Host": "apidatos.ree.es"
}

In [8]:
def demanda_datos(lang, category, widget, query):

    endpoint = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"
    response = requests.get(url = endpoint, headers= headers)
    data = response.json()

    datetime_lista = list()
    value_lista = list()
    percentage_lista = list()


    response = requests.get(endpoint)
    data = response.json()

    for value in data['included']:
        for content in value['attributes']['values']:
                porcentaje = content['percentage']
                valor = content['value']
                fecha = content ['datetime']


                datetime_lista.append(fecha)
                value_lista.append(valor)
                percentage_lista.append(porcentaje)


    df = pd.DataFrame()
    df['datetime'] = datetime_lista
    df['percentage'] = percentage_lista
    df['value'] = value_lista

    df['datetime'] = df['datetime'].apply(lambda x: pd.to_datetime(x, errors='coerce').strftime('%d/%m/%Y') if pd.to_datetime(x, errors='coerce') is not pd.NaT else x)


    return df

In [9]:
demanda_datos(lang, category, widget, query)

      datetime  percentage       value
0   01/01/2023           1  501833.701
1   02/01/2023           1  617718.194
2   03/01/2023           1  672722.853
3   04/01/2023           1  684806.731
4   05/01/2023           1  667109.305
5   06/01/2023           1  575311.204
6   07/01/2023           1  620535.693
7   08/01/2023           1  608145.575
8   09/01/2023           1  697063.435
9   10/01/2023           1  726472.416
10  11/01/2023           1  734639.472
11  12/01/2023           1  738345.461
12  13/01/2023           1  733478.186
13  14/01/2023           1  657961.407
14  15/01/2023           1  611148.341
15  16/01/2023           1  750249.738
16  17/01/2023           1  753955.969
17  18/01/2023           1  775893.775
18  19/01/2023           1  785127.303
19  20/01/2023           1  753339.200
20  21/01/2023           1  672429.444
21  22/01/2023           1  644921.153
22  23/01/2023           1  781546.180
23  24/01/2023           1  821055.295
24  25/01/2023           1  810969.945
25  26/01/2023           1  812716.023
26  27/01/2023           1  801794.112
27  28/01/2023           1  714180.153
28  29/01/2023           1  671427.042
29  30/01/2023           1  790823.822
30  31/01/2023           1  798927.897

In [10]:
demanda_datos(lang, category, widget, query).to_csv('datos_demanda.csv')